/* .button {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  background: #fff
}

.album-box {
  background: #ff9800;
  margin: 5px
}

.photo-box {
  background: #ccc;
  margin: 5px
}

header {
  text-align: center; 
  margin: 50px
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background: #FFF;
  width: 100%;
  display: flex
}

.title {
  width: 100%; 
  display: inline-block
}

.pagination {
  display: flex;
} */

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F5A883;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F5A883;
}
